
<section class="mb-5">

    <div class="row">
      <div class="col-md-6 mb-4 mb-md-0">
  
        <div id="mdb-lightbox-ui"></div>
  
        <div class="mdb-lightbox">
  
          <div class="row product-gallery mx-1">
  
            <div class="col-12 mb-0">
              <figure class="view overlay rounded z-depth-1 main-img">
              
                  <img src="https://i.imgur.com/TAzli1U.jpg" id="main_product_image" width="350"
                    class="img-fluid z-depth-1">
                
              </figure>
              <div class="thumbnail_images">
                <ul id="thumbnail">
                    <li><img onclick="changeImage(this)" src="https://i.imgur.com/TAzli1U.jpg" width="70" ></li>
                    <li><img onclick="changeImage(this)" src="https://i.imgur.com/w6kEctd.jpg" width="70"></li>
                    <li><img onclick="changeImage(this)" src="https://i.imgur.com/L7hFD8X.jpg" width="70"></li>
                    <li><img onclick="changeImage(this)" src="https://i.imgur.com/6ZufmNS.jpg" width="70"></li>
                </ul>
            </div>
            </div>
            
                
            
          </div>
  
        </div>
  
      </div>
      <div class="col-md-6">
  
        <h2>Grey Sofa</h2>
        <p class="mb-2 text-muted text-uppercase small">Sofas</p>
        <ul class="rating">
          <li>
            <i class="fas fa-star fa-sm text-primary"></i>
          </li>
          <li>
            <i class="fas fa-star fa-sm text-primary"></i>
          </li>
          <li>
            <i class="fas fa-star fa-sm text-primary"></i>
          </li>
          <li>
            <i class="fas fa-star fa-sm text-primary"></i>
          </li>
          <li>
            <i class="far fa-star fa-sm text-primary"></i>
          </li>
        </ul>
        <p><span class="mr-1"><strong>$500</strong></span></p>
        <p class="pt-1">Laying back on this reclining chair and sipping some tea is the perfect 
            remedy to a tiring day. Sink into the soft premium black leather and foam to relax. 

        </p>
      
            <!-- Section: Color -->

    
    <div class="mt-5">
        <h6 class="font-weight-bold mb-3">Color</h6>
        <div class="colors">
            <ul id="marker">
                <li id="marker-1"></li>
                <li id="marker-2"></li>
                <li id="marker-3"></li>
                
            </ul>
        </div>
    </div>
    
  <!-- Section: Color -->
        
        <hr>
        
        <button type="button" class="btn btn-primary btn-md mr-1 mb-2">Buy now</button>
        <button type="button" class="btn btn-light btn-md mr-1 mb-2"><i
            class="fas fa-shopping-cart pr-2"></i>Add to cart</button>
      </div>
    </div>
  
  </section>
